{% extends "template.html" %}
{% block content %}
<form style="padding: 30px" action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
        <label for="image">Image</label>
    <p>
        <input type="file" name="image">
    </p>
        <label for="title">Title</label>
    <p>
        <input type="text" name="title">
    </p>
        <label for="content">Content</label>
    <p>
        <input type="text" name="content">
    </p>
        <label for="rate">Rate</label>
    <p>
        <input type="number" name="rate">
    <p>
    <button type="submit">Create Post</button>
    </p>
</form>
{% endblock %}
